<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Testingbaba">
  <test  name="smoke">
    <classes>
      <class name="test.Testingbaba_launch_Test"/>
    </classes>
  </test> <!-- Test -->
  
  <test name ="Buttons" enabled="false">
  <classes>
  <class name ="test.Testingbaba_Buttons_test"></class>
  </classes>
  </test>
  <test name ="Textbox" enabled="true">
  <classes>
  <class name ="test.Testingbaba_textbox_test"></class>
  </classes>
  </test>
</suite> <!-- Suite -->
